
<div class="row">
  <div class="col-xs-12">
    <strong>
        Your cart is currently empty!  
        <br />
        <br />
        Click <a href="/">here</a> to start shopping!
    </strong>
  </div>
</div>